.history-box {
    border-radius: 20px;
    padding: 1.5rem 1.25rem;
    box-shadow: 0px 1.625px 9.5px rgb(0 0 0 / 8%);
}

.history {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 16px;
}

.details {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 16px;
}

.tipo-ordem {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #5D5C5D;
    padding-bottom: 8px;
}

.data {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #5D5C5D;
    padding-bottom: 8px;
}

.amount-win {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #05d880;
    padding-bottom: 8px;
}

.amount-loss {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #e04a4b;
    padding-bottom: 8px;
}

.amount-zero {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #5D5C5D;
    padding-bottom: 8px;
}

.box-win {
    color: white;
    padding: 4px;
    width: 24px;
    height: 22px;
    background: #52e37a;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.box-loss {
    color: white;
    padding: 4px;
    width: 24px;
    height: 22px;
    background: #e04a4b;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.box-zero {
    color: white;
    padding: 4px;
    width: 24px;
    height: 22px;
    background: #5D5C5D;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
}


hr {
    height: 0.5px;
    color: #B2B1B9;
    padding-top: 4px;
    padding-bottom: 8px;
}
